
<!DOCTYPE html>
<html lang="en">
<head>
<!-- meta tags -->

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/simplebar@latest/dist/simplebar.css">
<!-- ugarit css -->
<link href="ugarit.css" rel="stylesheet">

</head>

<body class="background">

<!-- page -->
<div class="page-container">
  <!-- ======================
   left side
  ======================= -->
  <div class="left-side">
    <!-- brand -->
    <div class="brand">
      <h2><%= @user.name %></h2>
      <h4>main information section.</h4>
      <p>you can use color-bg image-bg carousel-bg...</p>
    </div>
  </div><!-- / .left-side -->
  
  <!-- ======================
   right side
  ======================= -->
  <div class="right-side">
    <!-- wall -->
    <div class="wall" data-simplebar>

      <div class="text-center" padding: 3px>
                    <div class="box">
                        <div class="box-content">
                            <h1 class="tag-title">Heading</h1>
                            <hr />
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi pharetra quam sollicitudin nibh aliquam finibus. Etiam efficitur felis vel imperdiet varius. Maecenas bibendum elementum molestie. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris cursus finibus semper. Fusce molestie tincidunt leo vel varius. Nam scelerisque nulla feugiat leo consequat, id dignissim sem tincidunt. Proin elit mauris, hendrerit in varius sed, facilisis sit amet neque.</p>
                            <br />
                            <a href="ppc.html" class="btn btn-block btn-primary">Learn more</a>
                        </div>
                    </div>
                </div>
      
      <!-- ======================
       intro
      ======================= -->
      <div class="section intro" id="intro">
        <h2>Intro/summary</h2>
        <p>Scroll down for more details</p>  
        <p>recommendation: tell user that this part is scrollable</p>
        <i class="fa fa-angle-double-down"></i>  
      </div><!-- / .intro -->
      
      <!-- ======================
       section
      ======================= -->
      <div class="section" id="#">
        <h2>More Information</h2>
        <p>Scroll down</p>  
        <p>you may use different bg-color or <a href="https://tympanus.net/codrops/2013/10/03/a-collection-of-separator-styles/">Separators</a> to divide sections</p>  
      </div><!-- / .sections -->

      <!-- ======================
       section
      ======================= -->
      <div class="section" id="#">
        <h2>Last Section</h2>
        <p>no more scrolling.</p>
        <a href="#">
          <p>Demo(working on one!)</p>
        </a>
        <a href="https://github.com/alphadsy/alpha-ui">
          <p>Report Issue & Join Us on Github.</p>
        </a>
        <a href="https://github.com/alphadsy">
          <p>More Free Layouts & UI.</p>
        </a>
      </div><!-- / .section -->

    </div><!-- / .wall -->
  </div><!-- / .left-side -->

</div><!-- / .page-container -->

<!-- JavaScript -->
<!-- jQuery v3.2 -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<!-- bootstrap 4 js -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script><!-- simplebar -->
<script src="https://cdn.jsdelivr.net/npm/simplebar@latest/dist/simplebar.js"></script>

</body>
</html>
